<h1>here are the details of this list</h1>

<%= link_to "Add a movie #{@list.name} list", new_list_bookmark_path(@list) %>

<ul class="list-group">
  <% @list.bookmarks.each do |bookmark| %>
    <li class="list-group-item"><%= bookmark.movie.title %></li>
    <li class="list-group-item"><%= bookmark.movie.overview %></li>
    <li class="list-group-item"><%= bookmark.movie.poster_url %></li>
    <li class="list-group-item"><%= bookmark.movie.rating %></li>
    <li class="list-group-item"><%= bookmark.comment%></li>
    <%= link_to bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
      <i class="fa-solid fa-trash"></i>
    <% end %>
  <% end %>
</ul>


<section class="classic-movies-background">
    <div class="container">
      <h1>Classic Movies</h1>
    </div>
  </section>

<body>
    <div class="container">
        <div class="header">
            <div class="header-content">
                <div class="header-text">Classic Movies</div>
                <div class="header-movie-count">2 Movies</div>
            </div>
        </div>
        <div class="main-content">
            <div class="movie-list">
                <div class="movie-item">
                    <div class="movie-image" id="godfather-image"></div>
                    <div class="movie-details">
                        <div class="movie-title">The Godfather</div>
                        <div class="movie-rating">8.7 <span class="star">⭐</span></div>
                        <div class="movie-description">
                            Spanning the years 1945 to 1955, a chronicle of the fictional Italian-American Corleone crime family.
                        </div>
                        <div class="movie-comment">Best Al Pacino movie!</div>
                        <div class="movie-delete">delete</div>
                    </div>
                </div>
                <div class="movie-item">
                    <div class="movie-image" id="greenmile-image"></div>
                    <div class="movie-details">
                        <div class="movie-title">The Green Mile</div>
                        <div class="movie-rating">8.5 <span class="star">⭐</span></div>
                        <div class="movie-description">
                            A supernatural tale set on death row in a Southern prison, where gentle giant John Coffey possesses the mysterious power to heal people’s ailments.
                        </div>
                        <div class="movie-comment">Recommended by John</div>
                        <div class="movie-delete">delete</div>
                    </div>
                </div>
            </div>
            <div class="add-movie-button">
                <button>add a movie</button>
            </div>
        </div>
    </div>
</body>
